


nav{
    display: flex;
   position: relative;

    background-color: black;
    height: 70px;
    
}

ul{
display: flex;

}

.main{
    position: relative;
    left: 476px;
}

li{
    list-style: none;
    margin: 6px;
    padding: 3px;
}


li a{
    text-decoration: none;
    color: white;
    padding: 4px;
    font-size: large;
    font-family: 'Baloo Bhai 2', cursive;

}

.firstsection{
    border: 2px red solid;
}
.section2{
    border: 2px  black solid;
    height: 458px;
}

.section3{
    border: 2px green solid;
}
.main{
    display: flex;
    justify-content: space-evenly;
}

.img1{
    width: 4%;
   height: 46px;
    border-radius: 50%;
    position: relative;
    top: -7px;
    left: -32px;
    
}

.img2{
    position: relative;
    top: 30px;
    left: 650px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}





.sec2 p{
position: relative;
top: 10px;
left: 675px;
font-size: x-large;
font-family: 'Baloo Bhai 2', cursive;
width: 200px;
}



li a:hover{
    background-color: lightskyblue;
    color: black;
    border-radius: 50%;
    
}

.skills{
    /* border: 2px red solid; */
    position: relative;
    top: -29px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'Baloo Bhai 2', cursive;
}

.skills1{
    position: relative;
    left: 160px;
}
.skills2{
    position: relative;
    left: -20px;
    
}
.skills3{
    position: relative;
    right: 170px;
}

#image{
    width: 22%;
    height: 174px;
    position: relative;
    /* top: 400px; */
    margin: 65px 83px;
}


.smit{
    border: 2px red solid;
    position: relative;
    top: 20px;

box-sizing: border-box;
}


.image1:hover{

  visibility: hidden;
  

}
.image2:hover{
    
     visibility: hidden;
  }

.image3:hover{
     visibility: hidden;
  }

.web{
     position: relative;
     left:150px;
     top: -250px;
     visibility: hidden;
     border: 2px red solid;
     width: 200px;
 }
